.btn-primary {
	background-color: #4c98d4;
	color: #fff;
}

.set-width {
	width: 76%;
}

.box-shadow {
	box-shadow: 0px 0px 2px 2px #4c98d4;
}

.box-shadow-inside {
	box-shadow: 0px 0px 2px 2px #4c98d4 inset;
}

.color {
	color: #4c98d4;
}